*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode

examples/example_ainalysis
examples/my_first_ainalysis
examples/my_second_ainalysis
examples/my_updated_first_ainalysis
examples/my_updated_first_ainalysis_09b
examples/phenoai_server.log
examples/loggertest.out

README.old.rst