*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints
.vscode

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

README.old.rst

docs

examples/example_ainalysis
examples/my_first_ainalysis
examples/my_second_ainalysis
examples/my_updated_first_ainalysis
examples/my_updated_first_ainalysis_09b
examples/phenoai_server.log
examples/loggertest.out

# ide
.idea
.eclipse
.vscode
