*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints
.vscode

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

README.old.rst

docs
example_ainalysis

# ide
.idea
.eclipse
.vscode
